/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *  user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *  (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/**
* Settings
*
* @desc Place variables and mixings for default settings here
* @author [XX]
* @dependency none
*/
/**
* Helper
*
* @desc Helper are classes and formattings which are used to accomplish repeating task. Mainly we use ds- for design-task and bv- for behavioral tasks.
* @author [XX]
* @dependency _app_settings.scss
*/
.bv-cf:before, .bv-cf:after {
  content: " ";
  display: table; }
.bv-cf:after {
  clear: both; }

.bv-float-left {
  float: left; }

.bv-float-right {
  float: right; }

/**
* Basic Styles
*
* @desc Basic and common styles. Formats for every device live in Common Styles, for device-specific stylings use Mobile First approach.
* @author [XX]
* @dependency _app_settingsscss
*/
body {
  background: #f4fce8; }

* {
  outline: none; }

h1, h2 {
  font: 400 2.5em/1.4 'Sansita One', cursive;
  color: #1e1e1e;
  margin: 0;
  color: inherit; }

h1 {
  font-size: 1.5em; }

figure {
  margin: 0; }

p {
  margin: 0;
  line-height: 1.4; }

ul {
  margin: 0;
  padding: 0; }

.icon {
  fill: currentColor; }

button {
  background: none;
  border: 0;
  padding: 0;
  margin: 0; }

td, th {
  vertical-align: top; }

.as-headline {
  margin-bottom: 1em;
  display: inline-block;
  font-weight: bold;
  font-size: 1.17em; }

[data-template-name] {
  display: block; }

/**
* Player Section
*
* @desc Player's info box
* @author [HZ]
* @dependency _app_settings
*/
.player-section {
  position: absolute;
  right: 20px;
  top: 10px;
  color: inherit; }
  .player-section td {
    padding: 0 10px 5px 0; }
    .player-section td:first-child {
      text-align: right; }

.meta-navi {
  float: right;
  padding-bottom: 10px;
  padding-right: 20px; }
  .meta-navi svg {
    width: 30px;
    height: 30px; }

.button-settings, .button-alert {
  position: relative;
  top: 7px; }

.button-alert {
  margin-right: 20px; }

.alert-count {
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  display: block;
  top: -8px;
  right: -8px;
  color: #fff;
  background: #ff6868;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 2px;
  font-weight: bold; }

.player-name, .player-level {
  font-weight: bold; }

.player-pic {
  float: right; }
  .player-pic img {
    position: relative;
    top: -5px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    border: 4px solid #4e9689;
    /*box-shadow: 3px 3px 4px rgba(0,0,0,0.2);*/ }

.player-info {
  float: right;
  display: block; }

/**
* Main Navigation
*
* @desc Navigation on sidebar
* @author [HZ]
* @dependency _app_settings
*/
.navi-opener {
  position: absolute;
  right: -50px;
  width: 50px;
  height: 50px;
  bottom: 0;
  background: #4e9689;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .navi-opener svg {
    width: 100%;
    height: 100%;
    fill: #c3ff68; }

.navi-wrapper {
  position: relative;
  top: 110px; }

.navigation {
  position: relative;
  left: 0;
  padding: 20px 0;
  background: #4e9689;
  max-height: 120px;
  -webkit-transition: max-height 0.3s;
     -moz-transition: max-height 0.3s;
       -o-transition: max-height 0.3s;
          transition: max-height 0.3s;
  overflow: hidden;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }
  .navigation.open {
    max-height: 1000px;
    -webkit-transition: max-height 0.6s;
       -moz-transition: max-height 0.6s;
         -o-transition: max-height 0.6s;
            transition: max-height 0.6s; }
  .navigation ul {
    list-style: none; }
  .navigation a {
    text-decoration: none;
    color: #4e9689;
    display: block;
    padding: 20px;
    background: #c3ff68;
    border: 2px solid #4e9689;
    margin: 0 2px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    -webkit-transition: color 0.2s;
       -moz-transition: color 0.2s;
         -o-transition: color 0.2s;
            transition: color 0.2s; }
    .navigation a span {
      position: relative;
      z-index: 1; }
    .navigation a:before {
      position: absolute;
      top: 0;
      left: -500px;
      width: 400px;
      height: 100px;
      padding: 20px;
      background: #4e9689;
      -webkit-transition: left 0.2s;
         -moz-transition: left 0.2s;
           -o-transition: left 0.2s;
              transition: left 0.2s;
      content: ''; }
    .navigation a:hover {
      color: #c3ff68;
      -webkit-transition: color 0.3s;
         -moz-transition: color 0.3s;
           -o-transition: color 0.3s;
              transition: color 0.3s; }
      .navigation a:hover:before {
        left: 0;
        -webkit-transition: left 0.3s;
           -moz-transition: left 0.3s;
             -o-transition: left 0.3s;
                transition: left 0.3s; }

.navigation + .navi-opener svg {
  -webkit-transition: -webkit-transform 0.3s;
     -moz-transition: -moz-transform 0.3s;
       -o-transition: -o-transform 0.3s;
          transition: transform 0.3s;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg); }

.navigation.open + .navi-opener svg {
  -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
       -o-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: -webkit-transform 0.6;
     -moz-transition: -moz-transform 0.6;
       -o-transition: -o-transform 0.6;
          transition: transform 0.6; }

/**
*  Content Navi
*
* @desc Tab Navi in content section
* @author [HZ]
* @dependency _app_settings
*/
.content-nav {
  list-style: none;
  margin-top: 26px; }
  .content-nav li {
    display: inline-block;
    background: #4e9689;
    color: #fff;
    margin-right: 0;
    -webkit-transition: background 0.2s;
       -moz-transition: background 0.2s;
         -o-transition: background 0.2s;
            transition: background 0.2s;
    position: relative; }
    .content-nav li:first-child {
      margin-left: 330px; }
    .content-nav li.active {
      background: #f4fce8;
      color: inherit;
      -webkit-transition: background 0.2s;
         -moz-transition: background 0.2s;
           -o-transition: background 0.2s;
              transition: background 0.2s; }
      .content-nav li.active button, .content-nav li.active a {
        background: #f4fce8;
        -webkit-transition: background 0.2s;
           -moz-transition: background 0.2s;
             -o-transition: background 0.2s;
                transition: background 0.2s;
        color: #4e9689; }
    .content-nav li a, .content-nav li button {
      display: block;
      height: 48px;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      padding: 15px 20px 11px 20px;
      position: relative;
      background: #4e9689;
      -webkit-transition: background 0.2s;
         -moz-transition: background 0.2s;
           -o-transition: background 0.2s;
              transition: background 0.2s;
      font-weight: bold;
      color: #fff;
      text-decoration: none; }

/**
* Header
*
* @desc header
* @author [HZ]
* @dependency _app_settingsscss
*/
.header {
  position: relative;
  padding: 10px 20px 0 20px;
  background: #4e9689;
  background: #55a395;
  background: -webkit-linear-gradient(top, #55a395 0%, #4e9689 70%, #4e9689 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#55a395), color-stop(70%, #4e9689), to(#4e9689));
  background: -moz-linear-gradient(top, #55a395 0%, #4e9689 70%, #4e9689 100%);
  background: -o-linear-gradient(top, #55a395 0%, #4e9689 70%, #4e9689 100%);
  background: linear-gradient(to bottom, #55a395 0%, #4e9689 70%, #4e9689 100%);
  color: #fff;
  z-index: 1; }
  .header h1 {
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: normal; }

.restaurant-info {
  color: #4e9689;
  padding: 10px 0 5px 20px;
  margin: -20px;
  margin-top: 0;
  margin-bottom: 0;
  background: #c7ff72;
  background: -webkit-linear-gradient(top, #c7ff72 0%, #c3ff68 70%, #c1ff63 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#c7ff72), color-stop(70%, #c3ff68), to(#c1ff63));
  background: -moz-linear-gradient(top, #c7ff72 0%, #c3ff68 70%, #c1ff63 100%);
  background: -o-linear-gradient(top, #c7ff72 0%, #c3ff68 70%, #c1ff63 100%);
  background: linear-gradient(to bottom, #c7ff72 0%, #c3ff68 70%, #c1ff63 100%);
  font-size: 0.8em;
  border-bottom: 4px solid #4e9689;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); }

.restaurant-info-box {
  float: left;
  padding: 0 20px; }
  .restaurant-info-box:first-child {
    border: none;
    padding-left: 0; }
  .restaurant-info-box strong {
    font-size: 1.8em; }

.restaurant-info-hl {
  font: 400 2.5em/1.4 'Sansita One', cursive;
  color: #1e1e1e;
  font-size: 1.8em;
  color: #4e9689;
  font-weight: normal; }
  .restaurant-info-hl svg {
    width: 25px;
    height: 25px;
    position: relative;
    bottom: -5px; }

.fork-spoon-divider {
  width: 20px;
  overflow: hidden; }
  .fork-spoon-divider svg {
    fill: #4e9689;
    height: 40px;
    width: 40px;
    position: relative; }
  .fork-spoon-divider.fork svg {
    right: 18px; }

/**
* Main Section
*
* @desc main
* @author [HZ]
* @dependency _app_settings.scss
*/
.main {
  padding: 0 0 10px 0;
  color: #f4fce8;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 145px;
  /*@include linear-gradient(to bottom, #fff 0%, $color-01 30%, $color-01 100%);*/
  background-color: #f4fce8;
  background-image: url('http://lorempixel.com/1920/400/food');
  -webkit-background-size: contain;
     -moz-background-size: contain;
       -o-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  background-position: left 130px;
  z-index: 0; }

.sidebar {
  width: 270px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 22px;
  color: #fff;
  z-index: 2; }
  .sidebar h3 {
    font-size: 1em;
    padding: 3px 20px; }

.local-time-container {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 0.9em; }
  .local-time-container strong {
    font-size: 1.1em;
    color: #c3ff68; }

.content {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.content-headline {
  margin-left: 330px;
  margin-top: 14px;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  background: rgba(78, 150, 137, 0.6);
  -webkit-transform: translateY(-160px);
     -moz-transform: translateY(-160px);
      -ms-transform: translateY(-160px);
       -o-transform: translateY(-160px);
          transform: translateY(-160px);
  -webkit-transition: all 0.1s;
     -moz-transition: all 0.1s;
       -o-transition: all 0.1s;
          transition: all 0.1s; }
  .content-headline.open {
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-delay: 0.2s;
       -moz-transition-delay: 0.2s;
         -o-transition-delay: 0.2s;
            transition-delay: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(.33, 1.89, .75, .78);
       -moz-transition-timing-function: cubic-bezier(.33, 1.89, .75, .78);
         -o-transition-timing-function: cubic-bezier(.33, 1.89, .75, .78);
            transition-timing-function: cubic-bezier(.33, 1.89, .75, .78); }
  .content-headline:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 300px;
    border-left: 2px solid #4e9689; }
  .content-headline:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 300px;
    border-right: 2px solid #4e9689; }

.content-container {
  padding: 40px 20px;
  color: #4e9689;
  background: #f4fce8;
  min-height: 300px; }
  .content-container h2 {
    font: 400 1em/1.4 sans-serif;
    color: #1e1e1e;
    color: #4e9689;
    font-size: 1.4em; }

.content-intro {
  max-width: 720px; }

.content-body h3 {
  margin-top: 0; }

.menu {
  margin: 20px 0; }

.menu-card {
  width: 100%;
  margin-bottom: 40px; }

.menu-cookbook {
  width: 50%;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.menu-choices {
  width: 50%;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.content-table {
  width: 100%; }
  .content-table td, .content-table th {
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box; }
  .content-table th {
    text-align: left; }
  .content-table th {
    text-align: left;
    background: #c3ff68; }
  .content-table tr:nth-child(odd) {
    background: rgba(78, 150, 137, 0.1); }

/**
* Header
*
* @desc header
* @author [HZ]
* @dependency _app_settingsscss
*/
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: #87d69b;
  color: #fff;
  border-bottom: 10px solid #4e9689;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

/**
* Example
*
* @desc Just an example file
* @author [XX]
* @dependency _app_settingsscss
*/
/*# sourceMappingURL=app.css.map */