/**
* Settings
*
* @desc Place variables and mixings for default settings here
* @author [XX]
* @dependency none
*/

// Colors (take naming ideas from http://chir.ag/projects/name-that-color/)
$color-default: rgb(30,30,30);

// Fonts
$font-default: normal 1em/1.4 sans-serif;
@mixin font-text {
	font: 400 1em/1.4 $font-text;
	color: $color-default;
}

// Breakpoints (For em calculation use http://pxtoem.com/)
$breakpoint-min: 0em; 				//0px
$breakpoint-small: 22.5em;    //360px
$breakpoint-medium: 45.25em;  //724px
$breakpoint-large: 64.000em;  //1024px
$breakpoint-max: 81.250em; 		//1300px
