/**
* Basic Styles
*
* @desc Basic and common styles. Formats for every device live in Common Styles, for device-specific stylings use Mobile First approach.
* @author [XX]
* @dependency _app_settingsscss
*/

// Common Styles
body { 
	background: #eee;
}
h1, h2, h3, h4, h5, h6 {
	@include font-headine; 
	margin: 0;
}
h1 {
	color: $color-salad;
	font-size: 3em;
	text-shadow: 2px 2px 0 #fff, 3px 3px 3px rgba(0,0,0,0.3);
}
figure {
	margin: 0;
}
p {
	margin: 0;
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
