/**
* Basic Styles
*
* @desc Basic and common styles. Formats for every device live in Common Styles, for device-specific stylings use Mobile First approach.
* @author [XX]
* @dependency _app_settingsscss
*/

// Common Styles
body { 
	background: $color-01;
}
h1, h2, h3, h4, h5, h6 {
	@include font-headine; 
	margin: 0;
}
h1 {
	color: inherit;
	font-size: 2.6em;
}
figure {
	margin: 0;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
