/**
* Header
*
* @desc header
* @author [HZ]
* @dependency _app_settingsscss
*/

.footer {
	position: relative;
	padding: $spacing; 
	background: $color-03;
	color: #fff;
	border-bottom: $spacing/2 solid $color-05;
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
