/**
* Header
*
* @desc header
* @author [HZ]
* @dependency _app_settingsscss
*/

.header {
	position: relative;
	padding: $spacing/2 $spacing 0 $spacing/2;;
	background: $color-04;
	@include linear-gradient(to bottom, hsla(169, 31.6%, 48.7%, 1) 0%, $color-04 70%, hsla(169, 31.6%, 40.7%, 1) 100%);
	color: #fff;
	z-index: 1;
	h1 {
		padding-bottom: $spacing/2;
		font-size: 2em;
		font-weight: normal;
	}
}
.restaurant-info {
	color: $color-04;
	padding: $spacing/2 0 $spacing/4 $spacing;
	margin: -$spacing;
	margin-top: 0;
	margin-bottom: 0;
	@include linear-gradient(to bottom, hsla(84, 100%, 72.4%, 1) 0%, $color-02 70%, hsla(84, 100%, 69.4%, 1) 100%);
	font-size: 0.8em;
	border-bottom: 4px solid $color-04;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}
.restaurant-info-box {
	float: left;
	padding: 0 $spacing;
	&:first-child {
		border: none;
		padding-left: 0;
	}
}
.restaurant-info-hl {
	@include font-headine;
	font-size: 1.8em;
	color: $color-04;
	font-weight: normal;
	svg {
		width: 25px;
		height: 25px;
		position: relative;
		bottom: -5px;
	}
}
.local-time {
	float: right;
	text-align: right;
	padding-right: $spacing;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.3;
	padding-left: $spacing;
}
.fork-spoon-divider {
	width: 20px;
	overflow: hidden;
	svg {
		fill: $color-04;
		height: 40px;
		width: 40px;
		position: relative;
	}
	&.fork {
		svg {
			right: 18px;
		}
	}
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
