/**
* Main Section
*
* @desc main
* @author [HZ]
* @dependency _app_settings.scss
*/
body {
	
}
.main {
	padding: 0 0 $spacing/2 0;
	color: $color-01;
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding-top: 145px;
	/*@include linear-gradient(to bottom, #fff 0%, $color-01 30%, $color-01 100%);*/
	background-color: $color-01;
	background-image: url('http://lorempixel.com/1920/400/food');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left 130px;
	z-index: 0;
}
.sidebar {
	width: 270px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 22px;
	color: #fff;
	z-index: 2;
	h3 {
		font-size: 1.1em;
		padding: 0 $spacing;
	}
}

.local-time-container {
	padding-right: $spacing;
	padding-left: $spacing;
	font-size: 0.9em;
	strong {
		font-size: 1.1em;
		color: $color-02;
	}
}

.content {
	width: 100%;
	box-sizing: border-box;
}
.content-headline {
	margin-left: 330px;
  margin-top: $spacing;
  display: inline-block;
  padding: 10px $spacing;
  position: relative;
  background: hsla(169, 31.6%, 44.7%, 0.6);
  &:after {
  	content: '';
  	position: absolute;
		right: 0;
		bottom: 0;
		height: 300px;
		border-left: 2px solid $color-04;
  }
   &:before {
  	content: '';
  	position: absolute;
		left: 0;
		bottom: 0;
		height: 300px;
		border-right: 2px solid $color-04;
  }
}

.content-container {
	padding: $spacing*2 $spacing;
	color: $color-04;
	h2 {
		@include font-text;
		color: $color-04;
		font-size: 1.4em;
	}
	background: $color-01;
	min-height: 300px;
}
.content-intro {
	max-width: 720px
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
