/**
* Main Section 
*
* @desc main
* @author [HZ]
* @dependency _app_settings.scss
*/

.main {
	padding: $spacing;
	color: $color-aubergine;
}
.restaurant-name {
	@include font-headine;
	color: $color-aubergine;
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
