/**
* Main Section
*
* @desc main
* @author [HZ]
* @dependency _app_settings.scss
*/

.main {
	padding: 0 $spacing $spacing/2 $spacing;
	color: $color-04;
	position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding-top: 145px;
	@include linear-gradient(to bottom, #fff 0%, $color-01 30%, hsla(84, 76.9%, 92.9%, 1) 100%);
	z-index: 0;
}
.sidebar {
	width: 200px;
	height: 100%;
	position: fixed;
	left: 0;
	top: $spacing;
	color: #fff;
}
.navigation {
	position: relative;
	top: 110px;
	left: 0;	
	background: $color-04;	
	ul {
		list-style: none;
	}
	a {
		text-decoration: none;
		color: #fff;
		display: block;
		padding: $spacing;
	}
}
.content {
	float: right;
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
