/**
* Settings
*
* @desc Place variables and mixings for default settings here
* @author [XX]
* @dependency none
*/

// Colors (take naming ideas from http://chir.ag/projects/name-that-color/)
$color-default: rgb(30,30,30);
$color-01: rgb(244,252,232); //#f4fce8, hsla(84, 76.9%, 94.9%, 1)
$color-02: rgb(195,255,104); //#c3ff68, hsla(84, 100%, 70.4%, 1)
$color-03: rgb(135,214,155); //#87d69b, hsla(135, 49.1%, 68.4%, 1)
$color-04: rgb(78,150,137); //#4e9689, hsla(169, 31.6%, 44.7%, 1)
$color-05: rgb(126,208,214); //#7ed0d6, hsla(184,51.8%,66.7%,1)
$color-red: rgb(255,104,104);//#ff6868
$color-dark-gray: rgb(99,99,99); //#636363

// Fonts
$font-default: sans-serif;
@mixin font-text {
	font: 400 1em/1.4 $font-default;
	color: $color-default;
}
$font-headline: 'Sansita One', cursive;
@mixin font-headine {
	font: 400 2.5em/1.4 $font-headline;
	color: $color-default;
}

// Spacings
$spacing: 20px;

// Breakpoints (For em calculation use http://pxtoem.com/)
$breakpoint-min: 0em; 				//0px
$breakpoint-small: 22.5em;    //360px
$breakpoint-medium: 45.25em;  //724px
$breakpoint-large: 64.000em;  //1024px
$breakpoint-max: 81.250em; 		//1300px
