/**
* Basic Styles
*
* @desc Basic and common styles. Formats for every device live in Common Styles, for device-specific stylings use Mobile First approach.
* @author [XX]
* @dependency _app_settingsscss
*/

// Common Styles
body {
	background: $color-01;
}
* {
	outline: none;
}
h1, h2 {
	@include font-headine;
	margin: 0;
	color: inherit;
}
h1 {
	font-size: 1.5em;
}
figure {
	margin: 0;
}
p {
	margin: 0;
	line-height: 1.4;
}
ul {
	margin: 0;
	padding: 0;
}
.icon {
	fill: currentColor;
}
button {
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
}
td, th {
	vertical-align: top;
}
.as-headline {
	margin-bottom: 1em;
	display: inline-block;
	font-weight: bold;
	font-size: 1.17em;
}
[data-template-name] {
	display: block;
}

// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
