<script type="text/x-handlebars" data-template-name="marketing">

  <h1 class="content-headline" id="contentHeadline">Werbung &amp; Marketing</h1>
  <nav class="content-nav" id="contentNav">
    <!--ul>li*3>button>{content01}-->
    <ul>
      <li class="active">
        <button>Speisekarte zusammenstellen</button>
      </li>
      <li>
        <button>Innenausbau planen</button>
      </li>
      <li>
        <button>Geschäftsbedingungen festlegen</button>
      </li>
      <li>
        <button>Geldgeschäfte erledigen</button>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-intro">
      <!--<h2>Speisenkarte erstellen</h2>-->
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat magni ea, quisquam dolorem. Et laudantium
        veniam veritatis, facilis reiciendis iure accusamus? Obcaecati quisquam dolor inventore eveniet aliquid.
      </p>
    </div>
    <div class="content-body bv-cf">
    </div>
  </div>

</script>