/**
* Player Section
*
* @desc Player's info box
* @author [HZ]
* @dependency _app_settings
*/

.player-section {
	position: absolute;
	right: $spacing;
	top: $spacing/2;
	color: inherit;
	td{
		padding: 0 10px 5px 0;
		&:first-child {
			text-align:right;
		}
	}
}
.player-name, .player-money {
	font-weight: bold;
}
.player-pic {
	float: right;
	img {
		float: right;
		border: 1px solid #fff;
	}
}
.player-info {
	float: right;
	padding-top: 14px;
  display: block;
}


// Media Queries (from min to max)
@media (min-width: $breakpoint-min) { }

@media (min-width: $breakpoint-small) { }

@media (min-width: $breakpoint-medium) { }

@media (min-width: $breakpoint-large) { }

@media (min-width: $breakpoint-max) { }
